h2 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    background-color: yellow;
    font-family: comic;
}

h3 {
    color: blue;

    line-height: 30px;

}

.destacados {
    color: green;
    font-weight: bold;
    font-style: italic;
}

#caja {
    background-color: aqua;
    width: 300px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border: 5px solid black;

}

#caja h2 {
    margin-bottom: 50px;
}

#caja p {
    font-size: 15px;
}